<div class="container">
	<div class="row">
		<div class="col-md-12">

		<ul>
			<li><label>Most Active</label>
				<ul>
					<li> attacker_king : {{stats.most_active.attacker_king}}</li>
					<li>defender_king : {{stats.most_active.defender_king}}</li>
					<li>region : {{stats.most_active.region}}</li>
					<li>name: {{stats.most_active.name}}</li>
				</ul>
			</li>
			<li><label>Attacker Outcome</label>
				<ul>
					<li>win : {{stats.attacker_outcome.win}}</li>
					<li>lost : {{stats.attacker_outcome.loss}}</li>
				</ul>
			</li>
			<li><label>Battle Type</label>
				<ul>
					<li>{{stats.battle_type}}</li>
				</ul>
			</li>
			<li><label>Defender Size</label>
			<ul>
				<li>average : {{stats.defender_size.average}}</li>
				<li>min : {{stats.defender_size.min}}</li>
				<li>max : {{stats.defender_size.max}}</li>
			</ul>
				
			</li>
		</ul>

		</div>
	</div>
</div>